.navbar {
    background-color: rgb(14, 14, 125);
}

.nav-container {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logos {
    margin-bottom: 6px;
}
